
/*Estilo em telas menores do que 700 px*/
@media only screen and (max-width:700px){
	#mainImageDiv{
		display: none;
	}

	#divLogoImage img{
		width: 200px;
		height: 200px;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}

	#formLogin{
		text-align: center;
		background-color: #D8E6DB;
		padding: 20px;
		border-radius: 20px;
	}

	#submitFormLogin{
		padding:0px;
		text-align: center;
		background-color: rgba(0,0,0,0);

	}

	/* estilizando o botao de login*/
	#submitFormLogin input{
		border: none;
		border-radius: 10px;
		background-color: ;
		background-image: linear-gradient(#009900, #003300, #003300);
		padding: 10px;
		color: white;
		font-weight: bolder;
		font-size: 17px;
		cursor: pointer; /*cursos em forma de ponteiro*/
	}

	#submitFormLogin input:hover{
		background-image: linear-gradient(#009900, #009900, #003300);
		box-shadow: 0px 0px 5px rgba(1,1,1,0.5);
	}

	/* Estilizando a frase de cadastro */
	div.naoCadastrado{
		text-align: center;
	}

}

body{
	background-color: #D8E6DB;
}

/*Estilo em telas maiores od que 700 px*/
@media only screen and (min-width:701px){

/*div principal*/
#pageLoginDiv{ /*Bar who contains the followers/following counter*/
	display: grid;
	grid-template-columns: 50% 50%;
	height: auto;
	width: auto;
	border-radius: 10px;
	/*background-color: red;*/
}

/*div que contem a imagem principal*/
#mainImageDiv{
	display: grid;
	background-image: url("../img/firstImage.png");
	background-size: cover;
	background-repeat: no-repeat;
	/*border-radius: 20px;*/
	border-radius: 50px;
	color: #ffffff;
	font-family: sans-serif;
	font-size: 40px;
	font-weight: lighter;
	grid-template-rows: 25% 25% 25% 25%;

}

/* divs internas da imagem principal */
#mainImageDiv div{
	background-color: rgba(0,0,0,0);
	text-align: justify;
}


/* classe que estiliza os icones na pagina principal */
.subMainImage{
	max-width: 40px;
	max-height: 40px;
}

/* estilizando a imagem do logo */
#divLogoImage img{
	width: 250px;
	height: 250px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Formulario de login */
#formLogin{
	text-align: center;
	background-color: #D8E6DB;
	padding: 20px;
	border-radius: 20px;
}

#formLogin input{
	padding: 5px;
	margin: 5px;
	width: 180px;
	border-radius: 5px;
}




/* div do Botao de login */
#submitFormLogin{
	padding:0px;
	text-align: center;
	background-color: rgba(0,0,0,0);
}

/* estilizando o botao de login*/
.submitFormLogin input{
	border: none;
	border-radius: 10px;
	background-color: ;
	background-image: linear-gradient(#009900, #003300, #003300);
	padding: 10px;
	color: white;
	font-weight: bolder;
	font-size: 17px;
	cursor: pointer; /*cursos em forma de ponteiro*/
	
	
}

#submitFormLogin input:hover{
	background-image: linear-gradient(#009900, #009900, #003300);
	box-shadow: 0px 0px 5px rgba(1,1,1,0.5);
}


/* Estilizando a frase de cadastro */
div.naoCadastrado{
	text-align: center;
}


}
