.followBar{ /*Bar who contains the followers/following counter*/
	display: grid;
	grid-template-areas:
		"countPublications countFollowers countFollowing"
		"postBtnFollow postBtnFollow postBtnFollow"
	;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto auto;
}

/*publicacoes*/
.divCountPublications{
	grid-area: countPublications;
	text-align: center;
	font-weight: bold;
}

/*seguidores*/
.divCountFollowers{
	grid-area: countFollowers;
	text-align: center;
	font-weight: bold;
}

/*seguidos*/
.divCountFollowing{
	grid-area: countFollowing;
	text-align: center;
	font-weight: bold;
}

.divPostBtnFollow{
	grid-area: postBtnFollow;
}

/* propriedades do borao de SEGUIR/DEIXAR DE SEGUIR */
.divPostBtnFollow form{
	text-align:center;
}

/* propriedades do formulario de postagem */
.divPostBtnFollow .formToPost{
	text-align:center;
}

.photoUserDescDiv{
	display: grid;
	grid-template-areas:
		"photo user"
		"photo description";

	grid-template-columns: 25% 75%;
	grid-template-rows: auto auto;
}

/*div que contem a foto de perfil*/
.photoDiv{
	grid-area: photo;
	border-color: #ddd;
	border: 2px;
	text-align: right;
}

/* propriedades da foto de perfil */
.photoDiv img{
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	border-radius: 100%;

}

/* div que contem o nome de usuario */
.userDiv{
	grid-area: user;
}

.descriptionDiv{
	grid-area: description;
}

.formToPost input{
	width: 100%;
	height: auto;
	font-size: 18px;
	/*border-radius: 20px;
	border-color: lightgray;
	margin: 1px;*/
}

/*Propriedades do textarea de post*/
.formToPost textarea{
	width: 400px;
}

/*Estilizando os botoes dentro do form de postagem*/
.formToPost .styleButton{
	width: 25%;
	height: auto;
	border-radius: 10px;
}

.formToPost div{
	text-align: center;
}

/* propriedades da area onde é mostrado os posts */
div.postArea{ /*area of posts*/
	/*min-width: 50px;
	margin-bottom: 1px;
	margin-top: 2px;
	border-radius: 0px;*/
	display: grid;
	grid-template-areas: 
		"photo user"
		"post post";
	grid-template-columns: 5em auto;
	grid-template-rows: auto auto;
}

/*propriedades da imagem de perfil do post*/
.divUserPhotoPost img{
	width: 3em;
	height: auto;
	border-radius: 100px;
}

/* propriedades da div que possui a foto de perfil */
.divUserPhotoPost{
	grid-area: photo;
}

/* propriedades da div que possui o nome e a data do post*/
.divUserNameDatePost{
	grid-area: user;
}

/*Propriedades da div que contem o post*/
.divContentPost{
	grid-area: post;
  text-align: center;
}

.imgFotoPost{
  text-align: center;
}

.divContentPost img{
max-width: 400px;
}



/* estilo do container */
.photo_submit-container {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}

/* estilo da label que contem a foto*/
.photo_submit {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  background: #f8f8f8;
  border-radius: 8px;
}

/* estilo da label que contem a foto quando o mouse passa por cima */
.photo_submit:hover {
  cursor: pointer;
  background: #ebebeb;
}

/*estilos das outras areas de insercao*/
/*.photo_submit:nth-child(2),
.photo_submit:nth-child(4) {
  margin-left: 1rem;
}
.photo_submit:nth-child(3),
.photo_submit:nth-child(4) {
  margin-top: 1rem;
}*/

/* estilo da imagemn de fundo inserida */
.photo_submit.photo_submit--image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* estilo da imagem quando se passa o mouse por cima */
.photo_submit.photo_submit--image:hover {
  cursor: default;
}

/*estilo da area de upload da foto*/
.photo_submit-input {
  display: none;
}

/* estilo da area onde fica o sinal de + */
.photo_submit-plus {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: cadetblue;
  pointer-events: none;
}

/* estilo da area onde fica o sinal de + quando o mouse passa por cima */
.photo_submit-plus:after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-46%, -52%);
  content: '+';
  font-size: 36px;
  color: #fff;
}

/**/
.photo_submit--image .photo_submit-plus {
  display: none;
}

/* Estilo da area onde fica o label "upload de foto" */
.photo_submit-uploadLabel {
  margin-top: 1rem;
  font-size: 21px;
  color: cadetblue;
  letter-spacing: 0.03em;
  pointer-events: none;
}

/**/
.photo_submit--image .photo_submit-uploadLabel {
  display: none;
}

/* estilo da area onde fica o "x" (para excluir a foto) */
.photo_submit-delete {
  display: none;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  background: #f8f8f8;
  border-radius: 50%;
  text-indent: -9999px;
  cursor: pointer;
}
.photo_submit-delete:before,
.photo_submit-delete:after {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 12px;
  background-color: cadetblue;
  content: '';
}
.photo_submit-delete:before {
  transform: translate(-50%, -50%) rotate(45deg);
}
.photo_submit-delete:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* Estilo da area de exclusao de foto quando se passa o mouse por cima */
.photo_submit-delete:hover {
  background: #ccc;
}

.photo_submit--image .photo_submit-delete {
  display: inline-block;
}