.followBar{ /*Bar who contains the followers/following counter*/
	display: grid;
	grid-template-areas:
		"countPublications countFollowers countFollowing"
		"postBtnFollow postBtnFollow postBtnFollow"
	;
	grid-template-columns: 33% 33% 33%;
	grid-template-rows: auto auto;
}

/*publicacoes*/
.divCountPublications{
	grid-area: countPublications;
	text-align: center;
	font-weight: bold;
}

/*seguidores*/
.divCountFollowers{
	grid-area: countFollowers;
	text-align: center;
	font-weight: bold;
}

/*seguidos*/
.divCountFollowing{
	grid-area: countFollowing;
	text-align: center;
	font-weight: bold;
}

/*botao seguir*/
.divPostBtnFollow{
	grid-area: postBtnFollow;
	text-align:center;
}

.photoUserDescDiv{
	display: grid;
	grid-template-areas:
		"photo user"
		"photo description";

	grid-template-columns: 25% 75%;
	grid-template-rows: auto auto;
}

.photoDiv{grid-area: photo; border-color: #ddd; border: 2px; text-align: right;}

.photoDiv img{
	max-width: 100%;
	width: auto;
	max-height: 100%;
	height: auto;
	border-radius: 25px;

}

.userDiv{grid-area: user;}

.descriptionDiv{grid-area: description;}

.formToPost input{
	width: 100%;
	height: auto;
	font-size: 25px;
	/*border-radius: 20px;
	border-color: lightgray;
	margin: 1px;*/
}

/*Propriedades do textarea de post*/
.formToPost textarea{
	width: 100%;
}

/*Estilizando os botoes dentro do form de postagem*/
.formToPost .styleButton{
	width: 100%;
	height: auto;
	border-radius: 10px;

}

/* propriedades da area onde é mostrado os posts */
div.postArea{ /*area of posts*/
	min-width: 50px;
	margin-bottom: 1px;
	margin-top: 2px;
	border-radius: 0px;
}





/*#formToPost{
	text-align: center;
	background-color: #D8E6DB;
	border-radius: 20px;
	
}

#formToPost form{
	/*padding: 5px;
	margin: 5px;*/
	width: auto;
	/*border-radius: 5px;*/
/*}*/

/* propriedades da data de postagem */
.postDate{
	color: gray;
	font-size: 10px;
	font-family: sans-serif;
	text-decoration: none;
}
