*{
	font-family: Arial, 'sans-serif';
	margin: 1px;
}

body{
	margin: 10px;
}

#logo{
	font-family: "Snap ITC";
	font-size: 20px;
	color: green;
}

/*.headPage{
	display: inline;
}*/

.topMenu{
	display: grid;
	grid-template-columns: 20% 50% 10% 10% 10%;
}

.formField{
	display: inline-block;
	width: 200px;
	text-align: right;
}

.styleButton{
	display: inline-block;
	text-align: right;
}

