*{
	font-family: Arial, 'sans-serif';
	margin: 1px;
}

@media only screen and (max-width:900px){
	body{
		background-color: #D8E6DB;
	}
}

@media only screen and (max-width:700px){
	body{
		background-color: #D8E6DB;
	}
}

body{
	margin: 10px;
	background-color: #D8E6DB;
}

#logo{
	font-family: "Snap ITC";
	font-size: 20px;
	color: green;
}

#nameUser{ /*Name user*/
	font-family: sans-serif;
	font-size: 25px;
	font-weight: bolder;
}

div{
	background-color: white;
	padding: 10px;
	margin-bottom: 5px;
	margin-top: 5px;
	border-radius: 3px;
}

#followBar{ /*Bar who contains the followers/following counter*/
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
}

a{
	color: #006600;
	text-decoration: none;

}

a:hover{
	text-decoration: underline;	
}

div.postArea{ /*area of posts*/
	margin-bottom: 1px;
	margin-top: 2px;
}

/*.headPage{
	display: inline;
}*/

.topMenu{
	display: grid;
	grid-template-columns: 20% 50% 10% 10% 10%;
}

.formField{
	display: inline-block;
	width: 200px;
	text-align: right;
}

.styleButton{
	display: inline-block;
	text-align: right;
}

.generalStyle{
	color: #006600;
	font-family: sans-serif;
	/*text-decoration: none;*/
}

a.generalStyle{
	/*color: #006600;*/
	font-weight: bolder;
	/*text-decoration: none;*/
}

a.generalStyle:hover {
	/*text-decoration: underline;*/	
}

.postDate{
	color: gray;
	font-size: 10px;
	font-family: sans-serif;
	text-decoration: none;
}

#foot{
	text-align: center;
	background-color: "blue";
}